<ion-view view-title="Account">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content>

    <div>
      <form name="login_form">
        <div>
          <label class="item item-input">
            <input type="email" placeholder="Email" name="email" ng-model="user.email">
          </label>

          <label class="item item-input">
            <input type="password" placeholder="Password" name="password" ng-model="user.password">
          </label>
        </div>

        <button type="submit" class="log-in button button-block button-calm"
                ng-click="login(user.email, user.password)">
          Sign In
        </button>

      </form>

      <button class="log-out button button-block button-bar button-dark" ng-click="logout()">
        Log Out
      </button>
    </div>

    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>


  </ion-content>
</ion-view>
