<ion-view cache-view="false" view-title="Account">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>

    <div ng-if="addLocation">
      <form name="add_location">
        <div>
          <label class="item item-input">
            <input type="text" placeholder="lat" name="lat" ng-model="user.lat">
          </label>

          <label class="item item-input">
            <input type="text" placeholder="lng" name="lng" ng-model="user.lng">
          </label>
        </div>

        <button type="submit" class="button button-block button-calm"
                ng-click="addLocation(user.lat, user.lng)">
          ADD
        </button>

      </form>
    </div>

    <div>
      current logged in as: <strong> {{currentLoginAs}}</strong>
    </div>


  </ion-content>
</ion-view>
